h1 {
    font-family: 'IBM Plex Mono', monospace;
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

#vis {
    position: fixed;
    top: 70px;
    right: 0;
}